*__pycache__/
*.egg-info/
build/
**.so
*.hip
*_hip.*

.ipynb_checkpoints/
*.pyc
*.png
*.tif
*.jpg
*.pth
*.mat
*.npy
.DS_Store

data/
mamba/
Restormer/
*.sh

checkpoints_task1_restormer/
doc/
*.log
checkpoints/

task2/logs/
